[submodule "micro-ROS-Agent"]
	path = micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs
[submodule "px4_ros_com"]
	path = px4_ros_com
	url = https://github.com/PX4/px4_ros_com
[submodule "web_video_server"]
	path = web_video_server
	url = https://github.com/RobotWebTools/web_video_server
	branch = ros2
[submodule "utilities/raspiApWlanScripts"]
	path = utilities/raspiApWlanScripts
	url = https://github.com/Autodrop3d/raspiApWlanScripts.git
